doc/examples/ciExampleCustomChecker/directoryToCheck/OpenSCENARIO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
ASAM OpenSCENARIO V1.0.0

© by ASAM e.V., 2020

Description of dynamic content in driving simulations


Any use is limited to the scope described in the ASAM license terms. 
This file is distributable in accordance with the ASAM license terms. 
See www.asam.net/license.html for further details.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xsd:annotation>
    <xsd:documentation>openSCENARIO XSD Version 1.0 (Consolidated from Version 0.9.1)</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="OpenSCENARIO" type="OpenScenario"/>
  <xsd:complexType name="OpenScenario">
    <xsd:sequence>
      <xsd:element name="FileHeader" type="FileHeader"/>
      <xsd:group ref="OpenScenarioCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="OpenScenarioCategory">
    <xsd:choice>
      <xsd:group ref="ScenarioDefinition"/>
      <xsd:group ref="CatalogDefinition"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="CatalogDefinition">
    <xsd:sequence>
      <xsd:element name="Catalog" type="Catalog"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ScenarioDefinition">
    <xsd:sequence>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="CatalogLocations" type="CatalogLocations"/>
      <xsd:element name="RoadNetwork" type="RoadNetwork"/>
      <xsd:element name="Entities" type="Entities"/>
      <xsd:element name="Storyboard" type="Storyboard"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="EntityObject">
    <xsd:choice>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
      <xsd:element name="Vehicle" type="Vehicle"/>
      <xsd:element name="Pedestrian" type="Pedestrian"/>
      <xsd:element name="MiscObject" type="MiscObject"/>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="ParameterDeclarations">
    <xsd:sequence>
      <xsd:element name="ParameterDeclaration" minOccurs="0" maxOccurs="unbounded" type="ParameterDeclaration"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="File">
    <xsd:attribute name="filepath" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Directory">
    <xsd:attribute name="path" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CatalogLocations">
    <xsd:all>
      <xsd:element name="VehicleCatalog" minOccurs="0" type="VehicleCatalogLocation"/>
      <xsd:element name="ControllerCatalog" minOccurs="0" type="ControllerCatalogLocation"/>
      <xsd:element name="PedestrianCatalog" minOccurs="0" type="PedestrianCatalogLocation"/>
      <xsd:element name="MiscObjectCatalog" minOccurs="0" type="MiscObjectCatalogLocation"/>
      <xsd:element name="EnvironmentCatalog" minOccurs="0" type="EnvironmentCatalogLocation"/>
      <xsd:element name="ManeuverCatalog" minOccurs="0" type="ManeuverCatalogLocation"/>
      <xsd:element name="TrajectoryCatalog" minOccurs="0" type="TrajectoryCatalogLocation"/>
      <xsd:element name="RouteCatalog" minOccurs="0" type="RouteCatalogLocation"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ConditionGroup">
    <xsd:sequence>
      <xsd:element name="Condition" type="Condition" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogReference">
    <xsd:sequence>
      <xsd:element name="ParameterAssignments" type="ParameterAssignments" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="catalogName" type="String" use="required"/>
    <xsd:attribute name="entryName" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ParameterAssignments">
    <xsd:sequence>
      <xsd:element name="ParameterAssignment" maxOccurs="unbounded" type="ParameterAssignment"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FileHeader">
    <xsd:attribute name="revMajor" type="UnsignedShort" use="required"/>
    <xsd:attribute name="revMinor" type="UnsignedShort" use="required"/>
    <xsd:attribute name="date" type="DateTime" use="required"/>
    <xsd:attribute name="description" type="String" use="required"/>
    <xsd:attribute name="author" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Pedestrian">
    <xsd:all>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="BoundingBox" type="BoundingBox"/>
      <xsd:element name="Properties" type="Properties"/>
    </xsd:all>
    <xsd:attribute name="model" type="String" use="required"/>
    <xsd:attribute name="mass" type="Double" use="required"/>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="pedestrianCategory" type="PedestrianCategory" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Vehicle">
    <xsd:all>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="BoundingBox" type="BoundingBox"/>
      <xsd:element name="Performance" type="Performance"/>
      <xsd:element name="Axles" type="Axles"/>
      <xsd:element name="Properties" type="Properties"/>
    </xsd:all>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="vehicleCategory" type="VehicleCategory" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Axle">
    <xsd:attribute name="maxSteering" type="Double" use="required"/>
    <xsd:attribute name="wheelDiameter" type="Double" use="required"/>
    <xsd:attribute name="trackWidth" type="Double" use="required"/>
    <xsd:attribute name="positionX" type="Double" use="required"/>
    <xsd:attribute name="positionZ" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="MiscObject">
    <xsd:all>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="BoundingBox" type="BoundingBox"/>
      <xsd:element name="Properties" type="Properties"/>
    </xsd:all>
    <xsd:attribute name="miscObjectCategory" type="MiscObjectCategory" use="required"/>
    <xsd:attribute name="mass" type="Double" use="required"/>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Condition">
    <xsd:choice>
      <xsd:element name="ByEntityCondition" type="ByEntityCondition"/>
      <xsd:element name="ByValueCondition" type="ByValueCondition"/>
    </xsd:choice>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="delay" type="Double" use="required"/>
    <xsd:attribute name="conditionEdge" type="ConditionEdge" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ObjectType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="pedestrian"/>
          <xsd:enumeration value="vehicle"/>
          <xsd:enumeration value="miscellaneous"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:complexType name="PrivateAction">
    <xsd:choice>
      <xsd:element name="LongitudinalAction" type="LongitudinalAction"/>
      <xsd:element name="LateralAction" type="LateralAction"/>
      <xsd:element name="VisibilityAction" type="VisibilityAction"/>
      <xsd:element name="SynchronizeAction" type="SynchronizeAction"/>
      <xsd:element name="ActivateControllerAction" type="ActivateControllerAction"/>
      <xsd:element name="ControllerAction" type="ControllerAction"/>
      <xsd:element name="TeleportAction" type="TeleportAction"/>
      <xsd:element name="RoutingAction" type="RoutingAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="UserDefinedAction">
    <xsd:sequence>
      <xsd:element name="CustomCommandAction" type="CustomCommandAction"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlobalAction">
    <xsd:choice>
      <xsd:element name="EnvironmentAction" type="EnvironmentAction"/>
      <xsd:element name="EntityAction" type="EntityAction"/>
      <xsd:element name="ParameterAction" type="ParameterAction"/>
      <xsd:element name="InfrastructureAction" type="InfrastructureAction"/>
      <xsd:element name="TrafficAction" type="TrafficAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Maneuver">
    <xsd:sequence>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="Event" maxOccurs="unbounded" type="Event"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficDefinition">
    <xsd:all>
      <xsd:element name="VehicleCategoryDistribution" type="VehicleCategoryDistribution"/>
      <xsd:element name="ControllerDistribution" type="ControllerDistribution"/>
    </xsd:all>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Environment">
    <xsd:all>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="TimeOfDay" type="TimeOfDay"/>
      <xsd:element name="Weather" type="Weather"/>
      <xsd:element name="RoadCondition" type="RoadCondition"/>
    </xsd:all>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Controller">
    <xsd:all>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="Properties" type="Properties"/>
    </xsd:all>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Route">
    <xsd:sequence>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="Waypoint" minOccurs="2" maxOccurs="unbounded" type="Waypoint"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="closed" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Trajectory">
    <xsd:sequence>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="Shape" type="Shape"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="closed" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Position">
    <xsd:choice>
      <xsd:element name="WorldPosition" type="WorldPosition"/>
      <xsd:element name="RelativeWorldPosition" type="RelativeWorldPosition"/>
      <xsd:element name="RelativeObjectPosition" type="RelativeObjectPosition"/>
      <xsd:element name="RoadPosition" type="RoadPosition"/>
      <xsd:element name="RelativeRoadPosition" type="RelativeRoadPosition"/>
      <xsd:element name="LanePosition" type="LanePosition"/>
      <xsd:element name="RelativeLanePosition" type="RelativeLanePosition"/>
      <xsd:element name="RoutePosition" type="RoutePosition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="BoundingBox">
    <xsd:all>
      <xsd:element name="Center" type="Center"/>
      <xsd:element name="Dimensions" type="Dimensions"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Properties">
    <xsd:sequence>
      <xsd:element name="Property" minOccurs="0" maxOccurs="unbounded" type="Property"/>
      <xsd:element name="File" type="File" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Orientation">
    <xsd:attribute name="type" type="ReferenceContext" use="optional"/>
    <xsd:attribute name="h" type="Double" use="optional"/>
    <xsd:attribute name="p" type="Double" use="optional"/>
    <xsd:attribute name="r" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="RouteStrategy">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="fastest"/>
          <xsd:enumeration value="shortest"/>
          <xsd:enumeration value="leastIntersections"/>
          <xsd:enumeration value="random"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="PrecipitationType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="dry"/>
          <xsd:enumeration value="rain"/>
          <xsd:enumeration value="snow"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="CloudState">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="skyOff"/>
          <xsd:enumeration value="free"/>
          <xsd:enumeration value="cloudy"/>
          <xsd:enumeration value="overcast"/>
          <xsd:enumeration value="rainy"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="ReferenceContext">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="relative"/>
          <xsd:enumeration value="absolute"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="Priority">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="overwrite"/>
          <xsd:enumeration value="skip"/>
          <xsd:enumeration value="parallel"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="DynamicsShape">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="linear"/>
          <xsd:enumeration value="cubic"/>
          <xsd:enumeration value="sinusoidal"/>
          <xsd:enumeration value="step"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="SpeedTargetValueType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="delta"/>
          <xsd:enumeration value="factor"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="FollowingMode">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="position"/>
          <xsd:enumeration value="follow"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="ConditionEdge">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="rising"/>
          <xsd:enumeration value="falling"/>
          <xsd:enumeration value="risingOrFalling"/>
          <xsd:enumeration value="none"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="TriggeringEntitiesRule">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="any"/>
          <xsd:enumeration value="all"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="Rule">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="greaterThan"/>
          <xsd:enumeration value="lessThan"/>
          <xsd:enumeration value="equalTo"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="RelativeDistanceType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="longitudinal"/>
          <xsd:enumeration value="lateral"/>
          <xsd:enumeration value="cartesianDistance"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="StoryboardElementType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="story"/>
          <xsd:enumeration value="act"/>
          <xsd:enumeration value="maneuver"/>
          <xsd:enumeration value="event"/>
          <xsd:enumeration value="action"/>
          <xsd:enumeration value="maneuverGroup"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="StoryboardElementState">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="startTransition"/>
          <xsd:enumeration value="endTransition"/>
          <xsd:enumeration value="stopTransition"/>
          <xsd:enumeration value="skipTransition"/>
          <xsd:enumeration value="completeState"/>
          <xsd:enumeration value="runningState"/>
          <xsd:enumeration value="standbyState"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="MiscObjectCategory">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="none"/>
          <xsd:enumeration value="obstacle"/>
          <xsd:enumeration value="pole"/>
          <xsd:enumeration value="tree"/>
          <xsd:enumeration value="vegetation"/>
          <xsd:enumeration value="barrier"/>
          <xsd:enumeration value="building"/>
          <xsd:enumeration value="parkingSpace"/>
          <xsd:enumeration value="patch"/>
          <xsd:enumeration value="railing"/>
          <xsd:enumeration value="trafficIsland"/>
          <xsd:enumeration value="crosswalk"/>
          <xsd:enumeration value="streetLamp"/>
          <xsd:enumeration value="gantry"/>
          <xsd:enumeration value="soundBarrier"/>
          <xsd:enumeration value="wind"/>
          <xsd:enumeration value="roadMark"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleCategory">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="car"/>
          <xsd:enumeration value="van"/>
          <xsd:enumeration value="truck"/>
          <xsd:enumeration value="trailer"/>
          <xsd:enumeration value="semitrailer"/>
          <xsd:enumeration value="bus"/>
          <xsd:enumeration value="motorbike"/>
          <xsd:enumeration value="bicycle"/>
          <xsd:enumeration value="train"/>
          <xsd:enumeration value="tram"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="PedestrianCategory">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="pedestrian"/>
          <xsd:enumeration value="wheelchair"/>
          <xsd:enumeration value="animal"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="ParameterType">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="integer"/>
          <xsd:enumeration value="double"/>
          <xsd:enumeration value="string"/>
          <xsd:enumeration value="unsignedInt"/>
          <xsd:enumeration value="unsignedShort"/>
          <xsd:enumeration value="boolean"/>
          <xsd:enumeration value="dateTime"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:complexType name="Catalog">
    <xsd:sequence>
      <xsd:element name="Vehicle" type="Vehicle" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Controller" type="Controller" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Pedestrian" type="Pedestrian" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="MiscObject" type="MiscObject" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Environment" type="Environment" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Maneuver" type="Maneuver" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Trajectory" type="Trajectory" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Route" type="Route" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String"/>
  </xsd:complexType>
  <xsd:complexType name="RoadNetwork">
    <xsd:sequence>
      <xsd:element name="LogicFile" type="File" minOccurs="0"/>
      <xsd:element name="SceneGraphFile" type="File" minOccurs="0"/>
      <xsd:element name="TrafficSignals" minOccurs="0" type="TrafficSignals"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignals">
    <xsd:sequence>
      <xsd:element name="TrafficSignalController" minOccurs="0" maxOccurs="unbounded" type="TrafficSignalController"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalController">
    <xsd:sequence>
      <xsd:element name="Phase" minOccurs="0" maxOccurs="unbounded" type="Phase"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="delay" type="Double" use="optional"/>
    <xsd:attribute name="reference" type="String" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="Phase">
    <xsd:sequence>
      <xsd:element name="TrafficSignalState" minOccurs="0" maxOccurs="unbounded" type="TrafficSignalState"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="duration" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalState">
    <xsd:attribute name="trafficSignalId" type="String" use="required"/>
    <xsd:attribute name="state" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Entities">
    <xsd:sequence>
      <xsd:element name="ScenarioObject" minOccurs="0" maxOccurs="unbounded" type="ScenarioObject"/>
      <xsd:element name="EntitySelection" minOccurs="0" maxOccurs="unbounded" type="EntitySelection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ScenarioObject">
    <xsd:sequence>
      <xsd:group ref="EntityObject"/>
      <xsd:element name="ObjectController" minOccurs="0" type="ObjectController"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ObjectController">
    <xsd:choice>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
      <xsd:element name="Controller" type="Controller"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="EntitySelection">
    <xsd:sequence>
      <xsd:element name="Members" type="SelectedEntities"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SelectedEntities">
    <xsd:choice>
      <xsd:element name="EntityRef" minOccurs="0" maxOccurs="unbounded" type="EntityRef"/>
      <xsd:element name="ByType" minOccurs="0" maxOccurs="unbounded" type="ByType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="EntityRef">
    <xsd:attribute name="entityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ByType">
    <xsd:attribute name="objectType" type="ObjectType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Storyboard">
    <xsd:sequence>
      <xsd:element name="Init" type="Init"/>
      <xsd:element name="Story" maxOccurs="unbounded" type="Story"/>
      <xsd:element name="StopTrigger" type="Trigger"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Init">
    <xsd:sequence>
      <xsd:element name="Actions" type="InitActions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InitActions">
    <xsd:sequence>
      <xsd:element name="GlobalAction" type="GlobalAction" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="UserDefinedAction" type="UserDefinedAction" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Private" minOccurs="0" maxOccurs="unbounded" type="Private"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Private">
    <xsd:sequence>
      <xsd:element name="PrivateAction" type="PrivateAction" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="entityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Story">
    <xsd:sequence>
      <xsd:element name="ParameterDeclarations" type="ParameterDeclarations" minOccurs="0"/>
      <xsd:element name="Act" maxOccurs="unbounded" type="Act"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Act">
    <xsd:sequence>
      <xsd:element name="ManeuverGroup" maxOccurs="unbounded" type="ManeuverGroup"/>
      <xsd:element name="StartTrigger" type="Trigger"/>
      <xsd:element name="StopTrigger" minOccurs="0" type="Trigger"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ManeuverGroup">
    <xsd:sequence>
      <xsd:element name="Actors" type="Actors"/>
      <xsd:element name="CatalogReference" type="CatalogReference" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Maneuver" type="Maneuver" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="maximumExecutionCount" type="UnsignedInt" use="required"/>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Actors">
    <xsd:sequence>
      <xsd:element name="EntityRef" minOccurs="0" maxOccurs="unbounded" type="EntityRef"/>
    </xsd:sequence>
    <xsd:attribute name="selectTriggeringEntities" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Trigger">
    <xsd:sequence>
      <xsd:element name="ConditionGroup" type="ConditionGroup" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParameterDeclaration">
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="parameterType" type="ParameterType" use="required"/>
    <xsd:attribute name="value" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="VehicleCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ControllerCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PedestrianCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="MiscObjectCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="EnvironmentCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ManeuverCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TrajectoryCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="RouteCatalogLocation">
    <xsd:all>
      <xsd:element name="Directory" type="Directory"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterAssignment">
    <xsd:attribute name="parameterRef" type="String" use="required"/>
    <xsd:attribute name="value" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Performance">
    <xsd:attribute name="maxSpeed" type="Double" use="required"/>
    <xsd:attribute name="maxAcceleration" type="Double" use="required"/>
    <xsd:attribute name="maxDeceleration" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Axles">
    <xsd:sequence>
      <xsd:element name="FrontAxle" type="Axle"/>
      <xsd:element name="RearAxle" type="Axle"/>
      <xsd:element name="AdditionalAxle" type="Axle" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ByEntityCondition">
    <xsd:all>
      <xsd:element name="TriggeringEntities" type="TriggeringEntities"/>
      <xsd:element name="EntityCondition" type="EntityCondition"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TriggeringEntities">
    <xsd:sequence>
      <xsd:element name="EntityRef" maxOccurs="unbounded" type="EntityRef"/>
    </xsd:sequence>
    <xsd:attribute name="triggeringEntitiesRule" type="TriggeringEntitiesRule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="EntityCondition">
    <xsd:choice>
      <xsd:element name="EndOfRoadCondition" type="EndOfRoadCondition"/>
      <xsd:element name="CollisionCondition" type="CollisionCondition"/>
      <xsd:element name="OffroadCondition" type="OffroadCondition"/>
      <xsd:element name="TimeHeadwayCondition" type="TimeHeadwayCondition"/>
      <xsd:element name="TimeToCollisionCondition" type="TimeToCollisionCondition"/>
      <xsd:element name="AccelerationCondition" type="AccelerationCondition"/>
      <xsd:element name="StandStillCondition" type="StandStillCondition"/>
      <xsd:element name="SpeedCondition" type="SpeedCondition"/>
      <xsd:element name="RelativeSpeedCondition" type="RelativeSpeedCondition"/>
      <xsd:element name="TraveledDistanceCondition" type="TraveledDistanceCondition"/>
      <xsd:element name="ReachPositionCondition" type="ReachPositionCondition"/>
      <xsd:element name="DistanceCondition" type="DistanceCondition"/>
      <xsd:element name="RelativeDistanceCondition" type="RelativeDistanceCondition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="EndOfRoadCondition">
    <xsd:attribute name="duration" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CollisionCondition">
    <xsd:choice>
      <xsd:element name="EntityRef" type="EntityRef"/>
      <xsd:element name="ByType" type="ByObjectType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ByObjectType">
    <xsd:attribute name="type" type="ObjectType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OffroadCondition">
    <xsd:attribute name="duration" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TimeHeadwayCondition">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="alongRoute" type="Boolean" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TimeToCollisionCondition">
    <xsd:all>
      <xsd:element name="TimeToCollisionConditionTarget" type="TimeToCollisionConditionTarget"/>
    </xsd:all>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="alongRoute" type="Boolean" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TimeToCollisionConditionTarget">
    <xsd:choice>
      <xsd:element name="Position" type="Position"/>
      <xsd:element name="EntityRef" type="EntityRef"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AccelerationCondition">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="StandStillCondition">
    <xsd:attribute name="duration" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SpeedCondition">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeSpeedCondition">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TraveledDistanceCondition">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ReachPositionCondition">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
    </xsd:all>
    <xsd:attribute name="tolerance" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DistanceCondition">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
    </xsd:all>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="alongRoute" type="Boolean" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeDistanceCondition">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="relativeDistanceType" type="RelativeDistanceType" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="StoryboardElementStateCondition">
    <xsd:attribute name="storyboardElementType" type="StoryboardElementType" use="required"/>
    <xsd:attribute name="storyboardElementRef" type="String" use="required"/>
    <xsd:attribute name="state" type="StoryboardElementState" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="UserDefinedValueCondition">
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="value" type="String" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalCondition">
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="state" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalControllerCondition">
    <xsd:attribute name="trafficSignalControllerRef" type="String" use="required"/>
    <xsd:attribute name="phase" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ByValueCondition">
    <xsd:choice>
      <xsd:element name="ParameterCondition" type="ParameterCondition"/>
      <xsd:element name="TimeOfDayCondition" type="TimeOfDayCondition"/>
      <xsd:element name="SimulationTimeCondition" type="SimulationTimeCondition"/>
      <xsd:element name="StoryboardElementStateCondition" type="StoryboardElementStateCondition"/>
      <xsd:element name="UserDefinedValueCondition" type="UserDefinedValueCondition"/>
      <xsd:element name="TrafficSignalCondition" type="TrafficSignalCondition"/>
      <xsd:element name="TrafficSignalControllerCondition" type="TrafficSignalControllerCondition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ParameterCondition">
    <xsd:attribute name="parameterRef" type="String" use="required"/>
    <xsd:attribute name="value" type="String" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TimeOfDayCondition">
    <xsd:attribute name="rule" type="Rule" use="required"/>
    <xsd:attribute name="dateTime" type="DateTime" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SimulationTimeCondition">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="rule" type="Rule" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LongitudinalAction">
    <xsd:choice>
      <xsd:element name="SpeedAction" type="SpeedAction"/>
      <xsd:element name="LongitudinalDistanceAction" type="LongitudinalDistanceAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="SpeedAction">
    <xsd:all>
      <xsd:element name="SpeedActionDynamics" type="TransitionDynamics"/>
      <xsd:element name="SpeedActionTarget" type="SpeedActionTarget"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TransitionDynamics">
    <xsd:attribute name="dynamicsShape" type="DynamicsShape" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="dynamicsDimension" type="DynamicsDimension" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SpeedActionTarget">
    <xsd:choice>
      <xsd:element name="RelativeTargetSpeed" type="RelativeTargetSpeed"/>
      <xsd:element name="AbsoluteTargetSpeed" type="AbsoluteTargetSpeed"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="RelativeTargetSpeed">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="speedTargetValueType" type="SpeedTargetValueType" use="required"/>
    <xsd:attribute name="continuous" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AbsoluteTargetSpeed">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LongitudinalDistanceAction">
    <xsd:all>
      <xsd:element name="DynamicConstraints" type="DynamicConstraints" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="distance" type="Double" use="optional"/>
    <xsd:attribute name="timeGap" type="Double" use="optional"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="continuous" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DynamicConstraints">
    <xsd:attribute name="maxAcceleration" type="Double" use="optional"/>
    <xsd:attribute name="maxDeceleration" type="Double" use="optional"/>
    <xsd:attribute name="maxSpeed" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="None"/>
  <xsd:complexType name="LateralAction">
    <xsd:choice>
      <xsd:element name="LaneChangeAction" type="LaneChangeAction"/>
      <xsd:element name="LaneOffsetAction" type="LaneOffsetAction"/>
      <xsd:element name="LateralDistanceAction" type="LateralDistanceAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="LaneChangeAction">
    <xsd:all>
      <xsd:element name="LaneChangeActionDynamics" type="TransitionDynamics"/>
      <xsd:element name="LaneChangeTarget" type="LaneChangeTarget"/>
    </xsd:all>
    <xsd:attribute name="targetLaneOffset" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="LaneChangeTarget">
    <xsd:choice>
      <xsd:element name="RelativeTargetLane" type="RelativeTargetLane"/>
      <xsd:element name="AbsoluteTargetLane" type="AbsoluteTargetLane"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="RelativeTargetLane">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="value" type="Int" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AbsoluteTargetLane">
    <xsd:attribute name="value" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LaneOffsetAction">
    <xsd:all>
      <xsd:element name="LaneOffsetActionDynamics" type="LaneOffsetActionDynamics"/>
      <xsd:element name="LaneOffsetTarget" type="LaneOffsetTarget"/>
    </xsd:all>
    <xsd:attribute name="continuous" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LaneOffsetActionDynamics">
    <xsd:attribute name="maxLateralAcc" type="Double"/>
    <xsd:attribute name="dynamicsShape" type="DynamicsShape" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LaneOffsetTarget">
    <xsd:choice>
      <xsd:element name="RelativeTargetLaneOffset" type="RelativeTargetLaneOffset"/>
      <xsd:element name="AbsoluteTargetLaneOffset" type="AbsoluteTargetLaneOffset"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="RelativeTargetLaneOffset">
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AbsoluteTargetLaneOffset">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LateralDistanceAction">
    <xsd:all>
      <xsd:element name="DynamicConstraints" type="DynamicConstraints" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="distance" type="Double"/>
    <xsd:attribute name="freespace" type="Boolean" use="required"/>
    <xsd:attribute name="continuous" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="VisibilityAction">
    <xsd:attribute name="graphics" type="Boolean" use="required"/>
    <xsd:attribute name="traffic" type="Boolean" use="required"/>
    <xsd:attribute name="sensors" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ActivateControllerAction">
    <xsd:attribute name="lateral" type="Boolean"/>
    <xsd:attribute name="longitudinal" type="Boolean"/>
  </xsd:complexType>
  <xsd:complexType name="ControllerAction">
    <xsd:all>
      <xsd:element name="AssignControllerAction" type="AssignControllerAction"/>
      <xsd:element name="OverrideControllerValueAction" type="OverrideControllerValueAction"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AssignControllerAction">
    <xsd:choice>
      <xsd:element name="Controller" type="Controller"/>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="OverrideControllerValueAction">
    <xsd:all>
      <xsd:element name="Throttle" type="OverrideThrottleAction"/>
      <xsd:element name="Brake" type="OverrideBrakeAction"/>
      <xsd:element name="Clutch" type="OverrideClutchAction"/>
      <xsd:element name="ParkingBrake" type="OverrideParkingBrakeAction"/>
      <xsd:element name="SteeringWheel" type="OverrideSteeringWheelAction"/>
      <xsd:element name="Gear" type="OverrideGearAction"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="OverrideThrottleAction">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OverrideBrakeAction">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OverrideClutchAction">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OverrideParkingBrakeAction">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OverrideSteeringWheelAction">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OverrideGearAction">
    <xsd:attribute name="number" type="Double" use="required"/>
    <xsd:attribute name="active" type="Boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoutingAction">
    <xsd:choice>
      <xsd:element name="AssignRouteAction" type="AssignRouteAction"/>
      <xsd:element name="FollowTrajectoryAction" type="FollowTrajectoryAction"/>
      <xsd:element name="AcquirePositionAction" type="AcquirePositionAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AssignRouteAction">
    <xsd:choice>
      <xsd:element name="Route" type="Route"/>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="FollowTrajectoryAction">
    <xsd:all>
      <xsd:element name="Trajectory" type="Trajectory" minOccurs="0"/>
      <xsd:element name="CatalogReference" type="CatalogReference" minOccurs="0"/>
      <xsd:element name="TimeReference" type="TimeReference"/>
      <xsd:element name="TrajectoryFollowingMode" type="TrajectoryFollowingMode"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TimeReference">
    <xsd:choice>
      <xsd:element name="None" type="None"/>
      <xsd:element name="Timing" type="Timing"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Timing">
    <xsd:attribute name="domainAbsoluteRelative" type="ReferenceContext" use="required"/>
    <xsd:attribute name="scale" type="Double" use="required"/>
    <xsd:attribute name="offset" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrajectoryFollowingMode">
    <xsd:attribute name="followingMode" type="FollowingMode" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AcquirePositionAction">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CustomCommandAction">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="String" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EnvironmentAction">
    <xsd:choice>
      <xsd:element name="Environment" type="Environment"/>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="EntityAction">
    <xsd:choice>
      <xsd:element name="AddEntityAction" type="AddEntityAction"/>
      <xsd:element name="DeleteEntityAction" type="DeleteEntityAction"/>
    </xsd:choice>
    <xsd:attribute name="entityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="AddEntityAction">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DeleteEntityAction"/>
  <xsd:complexType name="ParameterAction">
    <xsd:choice>
      <xsd:element name="SetAction" type="ParameterSetAction"/>
      <xsd:element name="ModifyAction" type="ParameterModifyAction"/>
    </xsd:choice>
    <xsd:attribute name="parameterRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ParameterSetAction">
    <xsd:attribute name="value" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ParameterModifyAction">
    <xsd:all>
      <xsd:element name="Rule" type="ModifyRule"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ModifyRule">
    <xsd:choice>
      <xsd:element name="AddValue" type="ParameterAddValueRule"/>
      <xsd:element name="MultiplyByValue" type="ParameterMultiplyByValueRule"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ParameterAddValueRule">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ParameterMultiplyByValueRule">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="InfrastructureAction">
    <xsd:all>
      <xsd:element name="TrafficSignalAction" type="TrafficSignalAction"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalAction">
    <xsd:choice>
      <xsd:element name="TrafficSignalControllerAction" type="TrafficSignalControllerAction"/>
      <xsd:element name="TrafficSignalStateAction" type="TrafficSignalStateAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalControllerAction">
    <xsd:attribute name="trafficSignalControllerRef" type="String" use="required"/>
    <xsd:attribute name="phase" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSignalStateAction">
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="state" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficAction">
    <xsd:choice>
      <xsd:element name="TrafficSourceAction" type="TrafficSourceAction"/>
      <xsd:element name="TrafficSinkAction" type="TrafficSinkAction"/>
      <xsd:element name="TrafficSwarmAction" type="TrafficSwarmAction"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="TrafficSourceAction">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
      <xsd:element name="TrafficDefinition" type="TrafficDefinition"/>
    </xsd:all>
    <xsd:attribute name="rate" type="Double" use="required"/>
    <xsd:attribute name="radius" type="Double" use="required"/>
    <xsd:attribute name="velocity" type="Double"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSinkAction">
    <xsd:all>
      <xsd:element name="Position" type="Position"/>
      <xsd:element name="TrafficDefinition" type="TrafficDefinition" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="rate" type="Double" use="optional"/>
    <xsd:attribute name="radius" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TrafficSwarmAction">
    <xsd:all>
      <xsd:element name="CentralObject" type="CentralSwarmObject"/>
      <xsd:element name="TrafficDefinition" type="TrafficDefinition"/>
    </xsd:all>
    <xsd:attribute name="semiMajorAxis" type="Double" use="required"/>
    <xsd:attribute name="semiMinorAxis" type="Double" use="required"/>
    <xsd:attribute name="innerRadius" type="Double" use="required"/>
    <xsd:attribute name="offset" type="Double" use="required"/>
    <xsd:attribute name="numberOfVehicles" type="UnsignedInt" use="required"/>
    <xsd:attribute name="velocity" type="Double"/>
  </xsd:complexType>
  <xsd:complexType name="CentralSwarmObject">
    <xsd:attribute name="entityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Event">
    <xsd:sequence>
      <xsd:element name="Action" maxOccurs="unbounded" type="Action"/>
      <xsd:element name="StartTrigger" type="Trigger"/>
    </xsd:sequence>
    <xsd:attribute name="priority" type="Priority" use="required"/>
    <xsd:attribute name="maximumExecutionCount" type="UnsignedInt"/>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Action">
    <xsd:choice>
      <xsd:element name="GlobalAction" type="GlobalAction"/>
      <xsd:element name="UserDefinedAction" type="UserDefinedAction"/>
      <xsd:element name="PrivateAction" type="PrivateAction"/>
    </xsd:choice>
    <xsd:attribute name="name" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="VehicleCategoryDistribution">
    <xsd:sequence>
      <xsd:element name="VehicleCategoryDistributionEntry" maxOccurs="unbounded" type="VehicleCategoryDistributionEntry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VehicleCategoryDistributionEntry">
    <xsd:attribute name="category" type="VehicleCategory" use="required"/>
    <xsd:attribute name="weight" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ControllerDistribution">
    <xsd:sequence>
      <xsd:element name="ControllerDistributionEntry" maxOccurs="unbounded" type="ControllerDistributionEntry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ControllerDistributionEntry">
    <xsd:choice>
      <xsd:element name="Controller" type="Controller"/>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
    </xsd:choice>
    <xsd:attribute name="weight" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TimeOfDay">
    <xsd:attribute name="animation" type="Boolean" use="required"/>
    <xsd:attribute name="dateTime" type="DateTime" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Weather">
    <xsd:all>
      <xsd:element name="Sun" type="Sun"/>
      <xsd:element name="Fog" type="Fog"/>
      <xsd:element name="Precipitation" type="Precipitation"/>
    </xsd:all>
    <xsd:attribute name="cloudState" type="CloudState" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Sun">
    <xsd:attribute name="intensity" type="Double" use="required"/>
    <xsd:attribute name="azimuth" type="Double" use="required"/>
    <xsd:attribute name="elevation" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Fog">
    <xsd:all>
      <xsd:element name="BoundingBox" type="BoundingBox" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="visualRange" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Precipitation">
    <xsd:attribute name="precipitationType" type="PrecipitationType" use="required"/>
    <xsd:attribute name="intensity" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoadCondition">
    <xsd:sequence>
      <xsd:element name="Properties" type="Properties" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="frictionScaleFactor" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Waypoint">
    <xsd:sequence>
      <xsd:element name="Position" type="Position"/>
    </xsd:sequence>
    <xsd:attribute name="routeStrategy" type="RouteStrategy" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Vertex">
    <xsd:sequence>
      <xsd:element name="Position" type="Position"/>
    </xsd:sequence>
    <xsd:attribute name="time" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Shape">
    <xsd:choice>
      <xsd:element name="Polyline" type="Polyline"/>
      <xsd:element name="Clothoid" type="Clothoid"/>
      <xsd:element name="Nurbs" type="Nurbs"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Polyline">
    <xsd:sequence>
      <xsd:element name="Vertex" type="Vertex" minOccurs="2" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Clothoid">
    <xsd:sequence>
      <xsd:element name="Position" type="Position"/>
    </xsd:sequence>
    <xsd:attribute name="curvature" type="Double" use="required"/>
    <xsd:attribute name="curvatureDot" type="Double" use="required"/>
    <xsd:attribute name="length" type="Double" use="required"/>
    <xsd:attribute name="startTime" type="Double"/>
    <xsd:attribute name="stopTime" type="Double"/>
  </xsd:complexType>
  <xsd:complexType name="WorldPosition">
    <xsd:attribute name="x" type="Double" use="required"/>
    <xsd:attribute name="y" type="Double" use="required"/>
    <xsd:attribute name="z" type="Double" use="optional"/>
    <xsd:attribute name="h" type="Double" use="optional"/>
    <xsd:attribute name="p" type="Double" use="optional"/>
    <xsd:attribute name="r" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeWorldPosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="dx" type="Double" use="required"/>
    <xsd:attribute name="dy" type="Double" use="required"/>
    <xsd:attribute name="dz" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeObjectPosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="dx" type="Double" use="required"/>
    <xsd:attribute name="dy" type="Double" use="required"/>
    <xsd:attribute name="dz" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="RoadPosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="roadId" type="String" use="required"/>
    <xsd:attribute name="s" type="Double" use="required"/>
    <xsd:attribute name="t" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeRoadPosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="ds" type="Double" use="required"/>
    <xsd:attribute name="dt" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LanePosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="roadId" type="String" use="required"/>
    <xsd:attribute name="laneId" type="String" use="required"/>
    <xsd:attribute name="offset" type="Double" use="optional"/>
    <xsd:attribute name="s" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeLanePosition">
    <xsd:all>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="entityRef" type="String" use="required"/>
    <xsd:attribute name="dLane" type="Int" use="required"/>
    <xsd:attribute name="ds" type="Double" use="required"/>
    <xsd:attribute name="offset" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="RoutePosition">
    <xsd:all>
      <xsd:element name="RouteRef" type="RouteRef"/>
      <xsd:element name="Orientation" type="Orientation" minOccurs="0"/>
      <xsd:element name="InRoutePosition" type="InRoutePosition"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="RouteRef">
    <xsd:choice>
      <xsd:element name="Route" type="Route"/>
      <xsd:element name="CatalogReference" type="CatalogReference"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="InRoutePosition">
    <xsd:choice>
      <xsd:element name="FromCurrentEntity" type="PositionOfCurrentEntity"/>
      <xsd:element name="FromRoadCoordinates" type="PositionInRoadCoordinates"/>
      <xsd:element name="FromLaneCoordinates" type="PositionInLaneCoordinates"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="PositionOfCurrentEntity">
    <xsd:attribute name="entityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PositionInRoadCoordinates">
    <xsd:attribute name="pathS" type="Double" use="required"/>
    <xsd:attribute name="t" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PositionInLaneCoordinates">
    <xsd:attribute name="pathS" type="Double" use="required"/>
    <xsd:attribute name="laneId" type="String" use="required"/>
    <xsd:attribute name="laneOffset" type="Double" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="Center">
    <xsd:attribute name="x" type="Double" use="required"/>
    <xsd:attribute name="y" type="Double" use="required"/>
    <xsd:attribute name="z" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Dimensions">
    <xsd:attribute name="width" type="Double" use="required"/>
    <xsd:attribute name="length" type="Double" use="required"/>
    <xsd:attribute name="height" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Property">
    <xsd:attribute name="name" type="String" use="required"/>
    <xsd:attribute name="value" type="String" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="DateTime">
    <xsd:union memberTypes="parameter xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:simpleType name="Double">
    <xsd:union memberTypes="parameter xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="Boolean">
    <xsd:union memberTypes="parameter xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="UnsignedInt">
    <xsd:union memberTypes="parameter xsd:unsignedInt"/>
  </xsd:simpleType>
  <xsd:simpleType name="UnsignedShort">
    <xsd:union memberTypes="parameter xsd:unsignedShort"/>
  </xsd:simpleType>
  <xsd:simpleType name="String">
    <xsd:union memberTypes="parameter xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Int">
    <xsd:union memberTypes="parameter xsd:int"/>
  </xsd:simpleType>
  <xsd:simpleType name="parameter">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[$][A-Za-z_][A-Za-z0-9_]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TeleportAction">
    <xsd:sequence>
      <xsd:element name="Position" type="Position"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DynamicsDimension">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="rate"/>
          <xsd:enumeration value="time"/>
          <xsd:enumeration value="distance"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="parameter"/>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:complexType name="SynchronizeAction">
    <xsd:all>
      <xsd:element name="TargetPositionMaster" type="Position"/>
      <xsd:element name="TargetPosition" type="Position"/>
      <xsd:element name="FinalSpeed" type="FinalSpeed" minOccurs="0"/>
    </xsd:all>
    <xsd:attribute name="masterEntityRef" type="String" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="FinalSpeed">
    <xsd:choice>
      <xsd:element name="AbsoluteSpeed" type="AbsoluteSpeed"/>
      <xsd:element name="RelativeSpeedToMaster" type="RelativeSpeedToMaster"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AbsoluteSpeed">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RelativeSpeedToMaster">
    <xsd:attribute name="value" type="Double" use="required"/>
    <xsd:attribute name="speedTargetValueType" type="SpeedTargetValueType" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ControlPoint">
    <xsd:sequence>
      <xsd:element name="Position" type="Position"/>
    </xsd:sequence>
    <xsd:attribute name="time" type="Double"/>
    <xsd:attribute name="weight" type="Double"/>
  </xsd:complexType>
  <xsd:complexType name="Knot">
    <xsd:attribute name="value" type="Double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Nurbs">
    <xsd:sequence>
      <xsd:element name="ControlPoint" type="ControlPoint" minOccurs="2" maxOccurs="unbounded"/>
      <xsd:element name="Knot" type="Knot" minOccurs="2" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="order" type="UnsignedInt" use="required"/>
  </xsd:complexType>
</xsd:schema>
